.speHead {
    font-family: var(--iSecondary) !important;
    font-stretch: normal;
    font-size: 50px;
}

.myFooter {
    background-image: url(../images/herobg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.myFooterIn {
    padding-top: 50px;
    min-height: 100px;
    width: 100%;
    background-image: linear-gradient(var(--iWhite) 25%, rgba(255, 255, 255, 0) 53%, var(--iBlack) 53%);
}

.speFoot {
    padding-top: 50px;
    min-height: 100px;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0) 25%, var(--iBlack) 25%);
}

.footLinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-inline-start: 0px;
}

.footLinks li {
    list-style: none;
    min-height: 37px;
    display: flex;
    align-items: center;
}

.footLinks li a {
    font: normal normal var(--iPrimary);
    letter-spacing: 0px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--iWhite);
}

.copyRight {
    font-family: var(--iPrimary);
    font-stretch: condensed;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--iWhite);
}

.nav-link:focus,
.nav-link:hover {
    color: var(--iOrange);
}

.current-flink {
    color: var(--iOrange);
}

.btn:hover,
.btn:focus {
    color: var(--iOrange);
}

/* bot style */
df-messenger {
    --df-messenger-bot-message: var(--iBlue);
    --df-messenger-button-titlebar-color: var(--iWhite);
    --df-messenger-button-titlebar-font-color: var(--iPurple);
    --df-messenger-chat-background-color: var(--iGray);
    --df-messenger-font-color: var(--iWhite);
    --df-messenger-send-icon: var(--iOrange);
    --df-messenger-user-message: var(--iOrange);
}

@media only screen and (max-width: 991px) {
    .myFooterIn {
        background-image: linear-gradient(var(--iWhite) 25%, rgba(255, 255, 255, 0) 61%, var(--iBlack) 61%);
    }
}

@media only screen and (max-width: 575px) {
    .footRow {
        display: flex;
        flex-direction: column-reverse;
    }

    .footLogo {
        text-align: center !important;
    }

    .copyRight {
        margin-top: 15px;
    }

    .footLogo {
        margin-top: 30px;
    }
}