.speHead {
    font-family: 'FFFTusj' !important;
    font-stretch: normal;
    font-size: 50px;
}

.myFooter {
    background-image: url(../images/herobg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.myFooterIn {
    padding-top: 50px;
    min-height: 500px;
    width: 100%;
    background-image: linear-gradient(var(--iWhite) 20%, rgba(255, 255, 255, 0) 52%, var(--iBlack) 52%);
}

.footLinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footLinks li {
    list-style: none;
}

.footLinks li a {
    font-family: 'Helvetica', sans-serif;
    font-stretch: condensed;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 900;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--iWhite);
}

.nav-link:focus,
.nav-link:hover {
    color: var(--iOrange);
}

.current-page {
    color: var(--iOrange);
}

.btn:hover,
.btn:focus {
    color: var(--iOrange);
}