.partnersCont {
    background-color: var(--iWhite);
}

.partners h1 {
    font-family: var(--iPrimary);
    font-size: 29px;
    font-weight: 700;
    font-stretch: condensed;
    font-style: normal;
    line-height: 0.97;
    letter-spacing: normal;
    color: var(--iBlack);
    margin-bottom: 50px;
    text-transform: uppercase;
}

.card {
    border: none !important;
}

.doMore {
    width: 200px;
    height: 49px;
    padding-top: 11px;
    background-color: var(--iBlack);
    color: var(--iWhite);
    text-transform: uppercase;
}

.myArrows {
    font-size: 2.5em;
    color: var(--iOrange);
}

.carousel-item {
    padding: 30px;
}

.card-img {
    display: flex;
    justify-content: center;
}

.carousel-control-next,
.carousel-control-prev {
    background: var(--iWhite) !important;
    width: 7%;
}

/* medium and up screens */
    @media only screen and (min-width: 768px) {
        .carousel-inner {
            width: 90%;
            margin: auto;
        }

        .carousel-inner .carousel-item.active,
        .carousel-inner .carousel-item-next,
        .carousel-inner .carousel-item-prev {
            display: flex;
            justify-content: space-between;
        }

        .carousel-inner .carousel-item-end.active,
        .carousel-inner .carousel-item-next {
            transform: translateX(25%);
        }

        .carousel-inner .carousel-item-start.active,
        .carousel-inner .carousel-item-prev {
            transform: translateX(-25%);
        }
    }

    .carousel-inner .carousel-item-end,
    .carousel-inner .carousel-item-start {
        transform: translateX(0);
    }

    @media only screen and (max-width: 767px) {
        .carousel-item {
            padding: 15px;
        }

        .carousel-inner .carousel-item>div {
            display: none;
        }

        .carousel-inner .carousel-item>div:first-child {
            display: block;
        }

        .carousel-inner .carousel-item.active,
        .carousel-inner .carousel-item-next,
        .carousel-inner .carousel-item-prev {
            display: flex;
            justify-content: space-around;
        }
    }
