.footTopInn h4 {
    font-family: 'Helvetica', sans-serif;
    font-size: 29px;
    font-weight: 900;
    font-stretch: condensed;
    font-style: normal;
    line-height: 0.97;
    letter-spacing: normal;
    text-align: center !important;
    color: var(--iBlack);
    text-transform: uppercase;
}

.socialBlocks {
    min-height: 350px;
}

.socialInn {
    min-height: 350px;
    max-width: 330px;
    padding-top: 50px;
}

.socialNav {
    padding-inline-start: 0px !important;

}

.socialNav li {
    list-style: none
}

.socialNav li a {
    color: var(--iBlack);
    font-size: 2em;
}

.socialNav li a:hover {
    color: var(--iOrange);
}

.twitterB {
    background-color: var(--iWhite);
}

.twitter-embed {
    max-height: 350px;
    overflow-y: scroll;
}

.socialNav {
    display: flex;
    justify-content: space-between;
}

.footBtm {
    min-height: 150px;
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: var(--iBlack);
}

.socialLabels {
    display: none;
}

.newsLetter {
    width: 330px;
    height: 49px;
    padding-top: 11px;
    background-color: var(--iBlack);
    color: var(--iWhite);
    text-transform: uppercase;
}